<!DOCTYPE html>
<html>
	<head>
        <title>WADTrans website</title>
        <link rel="stylesheet"  href="~/css/adminHomeAll.css?v=<%= DateTime.Now.Ticks %" />
		
	</head>

	<body>

		<h1 class="titlu">Welcome!</h1>
		
	</body>
</html>