<!DOCTYPE html>
<html>
	<head>
        <title>WADTrans website</title>
        <link rel="stylesheet" type="text/css" href="editRoute.css?v=<%= DateTime.Now.Ticks %" />
		
	</head>

	<body>

		<form action="">
		  	<div class="container">
		  		
			    <h2 style="text-align: center;">Edit Route Page</h2>
			    <br>
			    <div class ="labels">
					<label for="fname"><b>Source City:</b></label>
				    <input class="boxes" type="text" placeholder="" name="Source City" ><br>
					
					<label for="lname"><b>Destination City:</b></label>
				    <input class="boxes" type="text" placeholder="" name="Destination City" ><br>
					
				    <label for="email"><b>Departure hour:</b></label>
				    <input class="boxes" type="text" placeholder="" name="Departure hour" ><br>
					
					<label for="phonenr"><b>Arriving hour:</b></label>
				    <input class="boxes" type="text" placeholder="" name="Arriving hour" ><br>

					<label for="username"><b>Date:</b></label>
				    <input class="boxes" type="text" placeholder="" name="date" ><br>

				    <label for="psw"><b>Price:</b></label>
				    <input class="boxes" type="text" placeholder="" name="price" ><br>
					
					<br>
				</div>
			    
			    <button style="margin-left: 700px;" type="submit" class="buttons">Save</button>
			    <button type="submit" class="buttons">Delete</button><br>
			    
			</div>
			  
			
		</form>


	</body>

</html>