

<!DOCTYPE html>
<html>
<head>
	<title>WADTrans website</title>
	<link rel="stylesheet" type="text/css" href="searchEdit.css?v=<%= DateTime.Now.Ticks %" />

</head>

<body>

	<div class="menu">
		<a class="active" href="searchAdmin.html">Search to edit</a>
		<a href="addRoute.html">Add Route</a>
		<a href="adminHomeAll.html">Home page</a>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Leave from:</th>
			<th>Hour:</th>
			<th>Arrive at:</th>
			<th>Hour:</th>
			<th>Date:</th>
			<th></th>

		</tr>


	</table>
</body>
</html>