
@{
    ViewData["Title"] = "ClientSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Client Search</h1>

@*<!DOCTYPE html>
<html>
<head>
    <title>WADTrans website</title>
    <link rel="stylesheet" type="text/css" href="search.css" />

</head>

<body>

    <div class="menu">
        <a href="contact.html">Contact us</a>
        <a href="reservation.html">Reservations</a>
        <a class="active" href="search.html">Search</a>
        <a href="home.html">Home page</a>
        <a href="welcome_page.html">Welcome page</a>
    </div>

    <div>
        <a href="login_html.html"><button class="buttons1">Log in</button></a>
        <a href="register.html"><button class="buttons1">Register</button></a>
    </div>
    <br>
    <br>
    <br>
    <div class="arrange">

        <p style="font-size: 30px; margin-bottom: 40px;">Where do you want to go?</p>
        <form class="labels" action="">

            <label for="source"><b>Source City:</b></label>
            <input class="boxes" type="text" placeholder="Source City:" name="Source City..."><br>
            <br>
            <label for="dest"><b>Destination city:</b></label>
            <input class="boxes" type="text" placeholder="Destination city..." name="Destination city:"><br>
            <br>
            <label for="date"><b>Date:</b></label>
            <input class="boxes" type="date" placeholder="Date" name="Date"><br>

        </form>
    </div>
    <br>
    <br>

    <div style=" text-align: center;">
        <a href="searchBuy.html"><button class="search">Search</button></a>

    </div>

</body>
</html>*@

