@{
    ViewData["Title"] = "Home Page";
}

@*<div class="title">
        <h1>Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<!DOCTYPE html>
<html>
</html>
<head>
    <title>WADTrans website</title>
    <link rel="stylesheet" href="~/css/welcome.css?v=<%= DateTime.Now.Ticks %" />

</head>

<body>

    <div class="BigTitle">
        <h1> Welcome to TrainTravel </h1>
    </div>

    <div class="smallT" id="dreapta">
        <h2> An inovation to </h2>
    </div>

    <div class="smallT">
        <h2> railway transport... </h2>
    </div>



</body>

